.tasks {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: move;
  width: 100%;
}

.task.completed {
  border-left: 5px solid green;
}

.task.pending {
  border-left: 5px solid red;
}
