.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.delete-icon {
  color: red;
  float: right;
  cursor: pointer;
}

button .p-confirm-dialog-reject {
  background: red;
}

.p-dialog-footer .p-button+.p-button {
  background: red;
}
