<app-tasks-header title="New Task" [showGoBackButton]="true"></app-tasks-header>
<form [formGroup]="newTaskForm" class="add-form" (ngSubmit)="createNewTask()">
  <div class="form-control">
    <span class="p-float-label">
      <input id="float-input" type="text" pInputText formControlName="text" />
      <label for="float-input">Task</label>
    </span>
  </div>
  <div class="field col-12 md:col-4">
    <label for="day">Day & Time</label><br />
    <p-calendar
      [ngStyle]="{ width: '100%' }"
      [style]="{ width: '100%' }"
      [inputStyle]="{ width: '100%' }"
      dateFormat="yy/mm/dd"
      formControlName="day"
      [showIcon]="true"
      appendTo="body"
      inputId="day"
      [minDate]="minDate"
      [readonlyInput]="true"></p-calendar>
  </div>
  <div class="form-control form-control-check">
    <label for="completed">is Completed?</label>
    <input class="p-checkbox-box" type="checkbox" formControlName="completed" id="completed" />
    <!-- <p-checkbox formControlName="completed"></p-checkbox> -->
    <!-- <p-checkbox [formControl]="newTaskForm.controls['completed']"></p-checkbox> -->
  </div>
  <button pButton pRipple type="submit" label="Save Task" class="p-button-rounded p-button-success btn-block"></button>
</form>
